*{
         font-family:Arial, Helvetica, sans-serif;
}

QPushButton{
         text-align:center;
         font-size: 20px;
         min-width: 80px;
         min-height: 40px;
}

QLabel{
         font-size:18px;
}

QTabBar::tab{
         height: 50px; 
         width: 100px; 
         font-size:20px;
}

QMessageBox{
         font-size:18px;
}

QLineEdit{
         font-size:15px;
}

#legendTitle{
         font-size:25px;
}