*{
         font-family:Arial, Helvetica, sans-serif;
}

QPushButton{
         background-color:rgb(166, 166, 255);
         text-align:center;
         font-size: 20px;
         min-width: 80px;
         min-height: 40px;
}

QTabBar::tab {
         height: 50px; 
         width: 100px; 
         font-size:20px;
         background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #fafafa, stop: 0.4 #f4f4f4,
                                    stop: 0.5 #e7e7e7, stop: 1.0 #fafafa);
} 

QTabBar::tab:selected,QTabBar::tab:hover{
         background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgb(77, 77, 187),stop: 0.4 rgb(166, 166, 255),
                                    stop: 0.5 rgb(166, 166, 255), stop: 1.0 rgb(77, 77, 187));
} 

QPushButton:hover{
         background-color:rgb(77, 77, 187);
}

QPushButton:!enabled{
         background-color:grey;
}

QLabel{
         font-size:18px;
}

QTabWidget{
         background-color:rgb(208, 208, 208);
}

QGraphicsView {
         background-color:aliceblue;
         background-image: url(":/pixmaps/icons/background.png") 0 0 0 0 stretch stretch;
}

QMessageBox{
         font-size:18px;
}

QLineEdit{
         font-size:19px;
}

#legendTitle{
         font-size:25px;
}

/* copy paste */
QSlider::groove:horizontal {
	border:2px solid #999999;
	height:20px;
	background:qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #B1B1B1, stop:1 #c4c4c4);
	margin:2px 0;
}
 
QSlider::handle:horizontal {
	background:qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 tomato, stop:1 red);
	border:1px solid grey;
	border-radius:10px;
	width:18px;
	margin:-2px 0;
}

QSlider::add-page:horizontal {
	background:rgb(166, 166, 255);
}
 
QSlider::sub-page:horizontal {
	background:rgb(77, 77, 187);
}
